@font-face {
    font-family: "Circular";
    src: 
        local("Circular Std");
}

html {
    font-family: 'Circular Std', sans-serif;
    scroll-behavior: smooth;
}

.projectBody {
    overflow: hidden;
}

h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 12px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 32px 0px 16px 0px;
}

h4 {
    font-size: 20px;
    font-weight: 200;
    margin: 24px 0px 16px 0px;
}

.subtitle {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0px 8px 0px;
}

p {
    font-size: 16px;
    font-weight: 100;
    margin: 8px 12px 8px 0px;
}

a {
    text-decoration: none;
}

ul {
    font-size: 16px;
    font-weight: 100;
}

li {
    margin: 0px 12px 8px 12px;
}

.year {
    text-align: right;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 16px;
    font-weight: 100;
    margin: 12px 24px 12px 0px;
}

main {
    margin: 16px 0px 16px 16px;
}

.home {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 12px;
}

.landingHeadline {
    margin: 32vh 0px 0px 16px;
}

.landingText {
    font-size: 24px;
    font-weight:lighter;
    animation: 4s fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.projectsList {
    display: flex;
    flex-direction: column;
}

.projectsList a {
    margin: 4px 12px 4px 0px;
    font-weight: 200;
}

.projectsList hr {
    width: calc(100% - 16px);
    max-width: 800px;
    margin: 16px 0px 0px 0px;
}

.projectNameYear {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 16px);
    max-width: 800px;
}

.projectNameYear p {
    margin: 4px 0px 0px 0px;
}

.projectTags {
    display: flex;
    flex-direction: row;
}

.projectContent {
    display: grid;
    grid-template-columns: 24vw 70vw;
    column-gap: 4vw;
    height: 90vh;
}

.projectHeader h2 {
    margin: 20px 0px 16px 0px;
}

.projectDetails {
    margin: 0px 0px 9px 0px;
    overflow-y: scroll;
    padding: 0px 24px 0px 0px;
}

.appScreen {
    max-width: 16vw;
    height: auto;
    margin: 0px 24px 0px 0px;
}

.slides {
    width: 80%;
    height: auto;
    margin: 0px 0px 16px 0px;
}

.images {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    margin: 16px 16px 16px 0px;
}

.wireframes {
    max-width: 30%;
    height: auto;
    margin: 16px 16px 16px 0px;
    border-radius: 8px;
    border: 1px solid blue;
}

.carousel-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

#arrow-prev {
    left: 10%;
}

#arrow-next {
    right: 10%;
}

#carousel-img {
    width: 80%
    height: auto;
}

#prev-p2 {
    left: 10%;
}

#next-p2 {
    right: 10%;
}

#prev-final {
    left: 10%;
}

#next-final {
    right: 10%;
}

#prev-ref {
    left: 10%;
}

#next-ref {
    right: 10%;
}

@media screen and (max-width: 480px) {
    .projectContent {
        display: flex;
        flex-direction: column;
    }

    .projectDetails{
        height: 70dvh;
    }

    .projectDetails h3:first-child {
        margin: 0px 0px 16px 0px;
    }

    .projectSummary {
        display: none;
    }

    .team {
        display: none;
    }

    .projectHeader {
        margin: 0px 16px 16px 0px;
    }

    .slides {
        width: 100%
    }

    #prev-ref {
        left: 4px;
    }
    
    #next-ref {
        right: 4px;
    }
}