html {
    font-family:"Roboto Mono", monospace;
    scroll-behavior: smooth;
}

body {
    overflow: scroll;
    margin: 0;
}

h1 {
    margin-left: 2%;
}

p {
    font-weight: lighter;
    margin: 0px 0px 8px 0px;
}

.intro {
    margin-left: 2%;
    margin-bottom: 16px;
}

.intro p {
    font-weight: normal;
}

.section {
    width: 100%;
    background-color: #f4f4f5;
    margin: 0px;

}

.sectionHeading {
    padding: 2% 2%;
    margin-bottom: 0px;
}

ul.projects {
    list-style-type: none;
    padding-left: 2%;
    padding-bottom: 2%;
}

li {
    font-weight:normal;
    margin: 8px 0px 0px 0px;
}



.projects button {
    padding: 8px 16px 8px 16px;
    background-color: white;
    border: none;
    margin: 0px 0px 8px 0px;
    font-family:"Roboto Mono", monospace;
    border-radius: 8px;
    box-shadow: 1px 1px lightgrey;

}

button:hover {
    font-weight: bold;
}

.projects button.active {
    border: 2px solid coral;
    font-weight: bold;
}

.projects div {
    font-size: 14px;
    flex-wrap: wrap;
}

.hidden {
    display: none;
    overflow: auto;
}

/* #problemContent .hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out; 
} */

#problemContent {
    width: 98%;
    height: 80vh;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#problemContent p {
    padding: 16px 16px;
    font-size: 14px;
    width: 90%;
}

#problemContent img {
    width: 90%;
}

#userInterviews {
    width: 98%;
    height: 80vh;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#userInterviews p {
    padding: 16px 16px;
    width: 90%;
}

#userInterviews img {
    width: 90%;
}

#dataAnalysis {
    width: 98%;
    height: 80vh;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#dataAnalysis p {
    width: fit-content;
    padding: 16px 16px;
}

#designContent {
    width: 98%;
    height: 80vh;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#dataAnalysis img {
    width: 90%;
}

#designContent > * {
    padding: 8px 16px;
}
#designContent .slide {
    display: flex;
    flex-direction: column;
    width: 75%;
}

#designContent .appScreen {
    width: 20%;
}

.appScreens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ML */

.machineLearning img {
    width: 90%;
    padding: 2% 2%;
}

.machineLearning p {
    width: 90%;
    padding: 2% 2%;
}

.machineLearning h2, h3 {
    padding: 2% 2%;
}

#dataExplorationContent {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}


#dataExplorationContent h2 {
    padding: 2% 2%;
}

#dataExplorationContent h3 {
    padding: 2% 2%;
}

#modelingContent {
    height:80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#findingsContent {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#limitationsContent {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

/* PDD project */

/* .groceries {
    height: 400px;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
} */

.groceries p, h2, h3 {
    width:fit-content;
    padding: 4px 16px;
}

.groceries img {
    padding: 2% 2%;
    width: 90%;
}

.emphasize {
    font-style: italic;
}

.groceryMission {
    padding-bottom: 2%;
    padding-left: 2%;
}

#problemContentGT {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#ideationContent {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#researchContentGT {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#designContentGT {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

/* Refugee Integration project */

.refugeeIntegration img {
    width: 90%;
}

.fullImg {
    width: 90%;
}

#problemContentRI {
    height: fit-content;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#problemContentRI > * {
    width:fit-content;
    padding: 4px 16px;
}

#methodsContent {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#methodsContent > * {
    width:fit-content;
    padding: 4px 16px;
}

#methodsContent img {
    width: 40%;
}

#findingsContentRI {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#recommendationsContent > * {
    width:fit-content;
    padding: 4px 16px;
}

#recommendationsContent {
    height: 80vh;
    width: 98%;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px lightgray;
    border-radius: 16px;
}

#findingsContentRI > * {
    padding: 4px 16px;
}

.quote {
    font-style: italic;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ul.content {
    margin: 0px 0px 0px 0px;
  }

  ul.content li {
    font-weight: normal;
    margin-top: 0px;
    margin-left: 16px;
  }

  .contact {
    font-size: 16px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }

  a {
    text-decoration: none;
    padding: 12px 0px 0px 2%;

  }